body{
    font-family: sans-serif;
    margin:0%;
}
.startsection {
    display: flex;
    background-color: rgba(222,234,252,255);
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}
.startleft {
    width: 40%;
    text-align: right;
}
.startcenter {
    width: 20%;
    text-align: center;
}
.startcenter img {
    height: 80px;
    width: 80px;
}
.logo1{
    padding-right: 10px;
}
.logo2{
    padding-left: 10px;
}
.startright {
    width: 40%;
}
.endsection {
    display: flex;
    padding: 10px;
    font-size: large;
}
.endsection a{
    color: rgba(14,174,201,255);
}
.endsection .left{
    width: 50%;
    padding-left: 10px;
}
.endsection .right{
    width: 50%;
}
.end{
    background-color: rgba(16,34,66,255);
    color: white;
}
.bottom{
    text-align: center;
}
img[src="images/banner2.png"] {
    width: 100%;
}